@font-face {
  font-family: 'Segeo';
  src: url('./fonts/Verdana.ttf');
}

@font-face {
  font-family: 'TT';
  src: url('./fonts/Verdana.ttf');
}

@font-face {
  font-family: 'Yu';
  src: url('./fonts/Verdana.ttf');
}

